In [1]:
#Step 1 import library

In [2]:
import pandas as pd

In [3]:
# import dataset

In [4]:
admis=pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Admission%20Chance.csv')

In [5]:
admis.info

<bound method DataFrame.info of      Serial No  GRE Score  TOEFL Score  University Rating   SOP  LOR   CGPA  \
0            1        337          118                  4   4.5   4.5  9.65
1            2        324          107                  4   4.0   4.5  8.87
2            3        316          104                  3   3.0   3.5  8.00
3            4        322          110                  3   3.5   2.5  8.67
4            5        314          103                  2   2.0   3.0  8.21
..         ...        ...          ...                ...   ...   ...   ...
395        396        324          110                  3   3.5   3.5  9.04
396        397        325          107                  3   3.0   3.5  9.11
397        398        330          116                  4   5.0   4.5  9.45
398        399        312          103                  3   3.5   4.0  8.78
399        400        333          117                  4   5.0   4.0  9.66

     Research  Chance of Admit
0           1              0.92
1           1              0.76
2           1              0.72
3           1              0.80
4           0              0.65
..        ...               ...
395         1              0.82
396         1              0.84
397         1              0.91
398         0              0.67
399         1              0.95

[400 rows x 9 columns]>

In [6]:
admis.describe()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [7]:
admis.head()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [8]:
# split target (y) & feature (X)

In [9]:
admis.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [10]:
# select target 
y=admis['Chance of Admit ']

In [11]:
X=admis.drop(['Serial No','Chance of Admit '],axis=1)

In [12]:
X

     GRE Score  TOEFL Score  University Rating   SOP  LOR   CGPA  Research
0          337          118                  4   4.5   4.5  9.65         1
1          324          107                  4   4.0   4.5  8.87         1
2          316          104                  3   3.0   3.5  8.00         1
3          322          110                  3   3.5   2.5  8.67         1
4          314          103                  2   2.0   3.0  8.21         0
..         ...          ...                ...   ...   ...   ...       ...
395        324          110                  3   3.5   3.5  9.04         1
396        325          107                  3   3.0   3.5  9.11         1
397        330          116                  4   5.0   4.5  9.45         1
398        312          103                  3   3.5   4.0  8.78         0
399        333          117                  4   5.0   4.0  9.66         1

[400 rows x 7 columns]

In [13]:
# Step 4 train test split

In [16]:
from sklearn.model_selection import train_test_split

In [19]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,random_state=2529)

In [20]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((280, 7), (120, 7), (280,), (120,))

In [21]:
#Step 5 Select model

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
model=LinearRegression()

In [25]:
#step 6 train or fit model

In [26]:
model.fit(X_train,y_train)

LinearRegression()

In [27]:
model.intercept_

-1.283124493203398

In [28]:
model.coef_

array([ 0.00204057,  0.00287273,  0.00566887, -0.00380559,  0.01973175,
        0.11314449,  0.02061553])

In [29]:
#step 7 predict model

In [34]:
y_pred=model.predict(X_test)

In [35]:
y_pred

array([0.71426327, 0.72534136, 0.69677103, 0.66566584, 0.57483872,
       0.93087527, 0.93701113, 0.72361387, 0.81130158, 0.62223963,
       0.59629648, 0.80084072, 0.52537944, 0.79174558, 0.84064992,
       0.66429594, 0.65136589, 0.66990687, 0.75794085, 0.86072023,
       0.66088101, 0.85570763, 0.84777425, 0.95033179, 0.68750762,
       0.65907671, 0.65279623, 0.5709259 , 0.55895645, 0.57990205,
       0.54497918, 0.7570717 , 0.69682571, 0.77286067, 0.64320811,
       0.5183554 , 0.43816818, 0.84654064, 0.90398354, 0.80517781,
       0.72218971, 0.72882587, 0.68145136, 0.88592237, 0.77208852,
       0.78778085, 0.95526121, 0.88586486, 0.59980416, 0.50690214,
       0.59947098, 0.63380406, 0.82841217, 0.44911724, 0.71068577,
       0.77335748, 0.68851557, 0.64486026, 0.85537724, 0.65517768,
       0.65046031, 0.90818978, 0.63422429, 0.68658606, 0.72150268,
       0.69030545, 0.59381287, 0.93813035, 0.58997351, 0.91542587,
       0.59283415, 0.93351713, 0.59478751, 0.71380389, 0.54346237,
       0.84710913, 0.6084418 , 0.7257337 , 0.67545704, 0.81387503,
       0.70259527, 0.88600461, 0.67084016, 0.53064995, 0.77790726,
       0.65780713, 0.78970635, 0.54709634, 0.77924705, 0.66750436,
       0.69363338, 0.69891086, 0.92185813, 0.70469056, 0.62554306,
       0.62208829, 0.73828086, 0.67369114, 0.76391913, 0.61985049,
       0.92865957, 0.70430038, 0.9828821 , 0.82502993, 0.78261009,
       0.83438446, 0.66840368, 0.70165011, 0.64534281, 0.5715406 ,
       0.80739359, 0.69273815, 0.80585447, 0.6102703 , 0.54641206,
       0.76301749, 0.71080317, 0.6261331 , 0.83951248, 0.68578269])

In [36]:
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,mean_squared_error

In [37]:
mean_absolute_error(y_test,y_pred)

0.044001289342326534

In [38]:
mean_absolute_percentage_error(y_test,y_pred)

0.07575278864605443

In [39]:
mean_squared_error(y_test,y_pred)

0.004038263715495695